<% content_for :navbar do %>
      <%= render 'navbar_variation_one' %>
 <% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 center">
      <div class="form-item">
        <h1 class="page-title">Look for a brand</h1>

        <form action="/brands" class="form-stuff">
          <div id="brand-names"><p><%= brand_names = Brand.all.map { | brand | brand.name } %></p></div>
          <div class="form-group autocomplete flexbox-center">
            <input name="brand" class="fvalue-input form-control required" type="text" placeholder="Brand *" id="item_brand">
          </div>
          <input type="submit" class="btn-submit btn btn-primary" value="Go !"></input>
        </form>
      </div>
    </div>
  </div>
</div>
