<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-item">
        <h1 class="page-title">Tell us your feedbacks about this solution</h1>
        <%= simple_form_for @review, :url => en_reviews_path, :method => :post do |f| %>
          <%= f.input :content, label: "Comment", placeholder: "What do you think about this solution : \nWhat do you like / What do you dislike ? \n\nYour feedbacks will enable us to improve the final solution.", :input_html => {:rows => 10} %>
          <%= f.input :email, label: false, placeholder: "email" %>
          <%= f.submit "Finished !", class: "btn btn-primary btn-submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
